:root{
    --correspondenceTop: 150px;
    --documentsRootVisibility: hidden;
    --documentsRootOpacity: 0;
    --correspondenceRootVisibility: hidden;
    --correspondenceRootOpacity: 0;
    --secondRootTextDecoration: none;
}

.navBar{
    grid-area: n;
    position: fixed;
    width: 150px;
    height: 1233px;
    
    background: #FFFFFF;
    border: 1px solid rgba(62, 68, 91, 0.1);
    border-radius: 8px;
    padding: 20px; 
    font-size: 20px;
    z-index: 1;
}

