.App{
  	display: grid;
	  width: auto;
	  height: auto;

  	grid-template-areas:
  	"h h" 
  	"n c";

  	grid-template-rows: 80px 1fr;
  	grid-template-columns: 240px 10fr ;

}

.appContent{
	grid-area: c;
}