.App{
  	display: grid;
	  width: auto;
	  height: auto;

  	grid-template-areas:
  	"h h h" 
	"n c d"
	"n f f";

  	grid-template-rows: 80px 1fr 80px;
  	grid-template-columns: 240px 1fr 9fr;

}

.appContent{
	grid-area: c;
}